sites/all/modules/tmgmt/translators/nativy/tmgmt_nativy_test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.nativy.com/nis" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="https://www.nativy.com/nis" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.nativy.com/nis">
      <s:import namespace="http://www.nativy.com/nis"/>
      <s:import schemaLocation="http://test.nativy.com/nis/nis.asmx?schema=offerrequest" namespace="http://www.nativy.com/nis"/>
      <s:element name="AuthenticateUser">
        <s:complexType/>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecuredWebServiceHeader" type="tns:SecuredWebServiceHeader"/>
      <s:complexType name="SecuredWebServiceHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticatedToken" type="s:string"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
      <s:element name="CreateOffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requ">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://www.nativy.com/nis"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOfferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateOfferResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOfferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOfferResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://www.nativy.com/nis"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader"/>
  </wsdl:message>
  <wsdl:message name="CreateOfferSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOffer"/>
  </wsdl:message>
  <wsdl:message name="CreateOfferSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOfferResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateOfferSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader"/>
  </wsdl:message>
  <wsdl:message name="GetOfferSoapIn">
    <wsdl:part name="parameters" element="tns:GetOffer"/>
  </wsdl:message>
  <wsdl:message name="GetOfferSoapOut">
    <wsdl:part name="parameters" element="tns:GetOfferResponse"/>
  </wsdl:message>
  <wsdl:message name="GetOfferSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader"/>
  </wsdl:message>
  <wsdl:portType name="nisSoap">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn"/>
      <wsdl:output message="tns:AuthenticateUserSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="CreateOffer">
      <wsdl:input message="tns:CreateOfferSoapIn"/>
      <wsdl:output message="tns:CreateOfferSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetOffer">
      <wsdl:input message="tns:GetOfferSoapIn"/>
      <wsdl:output message="tns:GetOfferSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="nisSoap" type="tns:nisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="https://www.nativy.com/nis/AuthenticateUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:AuthenticateUserSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOffer">
      <soap:operation soapAction="https://www.nativy.com/nis/CreateOffer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:CreateOfferSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffer">
      <soap:operation soapAction="https://www.nativy.com/nis/GetOffer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:GetOfferSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="nisSoap12" type="tns:nisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="https://www.nativy.com/nis/AuthenticateUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:AuthenticateUserSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOffer">
      <soap12:operation soapAction="https://www.nativy.com/nis/CreateOffer" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CreateOfferSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffer">
      <soap12:operation soapAction="https://www.nativy.com/nis/GetOffer" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:GetOfferSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="nis">
    <wsdl:port name="nisSoap" binding="tns:nisSoap">
      <soap:address location="http://test.nativy.com/nis/nis.asmx"/>
    </wsdl:port>
    <wsdl:port name="nisSoap12" binding="tns:nisSoap12">
      <soap12:address location="http://test.nativy.com/nis/nis.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>